@{
    ViewData["Title"] = "Movie Goer";
}

<div class="text-center" style = "margin-left: 100px; margin-top: 40px; margin-right: 100px;" >
    <h1>MovieGoer is an expansive movie suggestion application.
    </h1>
</div>
<div class="text-center" style = "margin-left: 200px; margin-right: 200px;">
    <h1 style = "color:#00227c; font-size:20px;">
        <br />You'll be able to give me some info on what types of movies you're looking for, and see related recommendations!
        <br /><br />Plus, by relating major world events that occured when the movie released, you'll get a feeling for the world and culture to further immerse you in your viewing.
        <br /><br /><br /><br /><br /><br />MovieGoer is built on a vast relational database using API data from the International Movie Database to provide you recommendations. This would not be possible without IMDB's great wealth of recorded knowledge.
        <br /><br />
     </h1>
</div>
