@{
    ViewData["Title"] = "Movie Goer";
}

<div>
            <table>
            <thead class="table-new">
                <tr>
                    <th>
                          <img src="/image/MovieGoerLogo.png" width="720" height="320" style="margin-left: 0px;" alt="Logo Image">
                           </th>
                           <th class="text-chenter">
                               <h1>
                               MovieGoer is an expansive movie suggestion app - dedicated to transporting you back in time to experience a movie and surrounding culture.
                               </h1>
                           </th>
                  </tr>
            </table>
      
</div>

@*<div class="text-center" style = "margin-left: -60px; margin-top: 40px; margin-right: 800px;" >

    <h1>MovieGoer is an expansive movie suggestion application dedicated to transporting you back in time to experience a movie.
    </h1>
</div>*@
<div class="text-center" style = "margin-left: 200px; margin-right: 200px;">
    <h1 style = "color:#00227c; font-size:20px;">
        <br />
        <br /><br />Choose a topic or genre and get a list of 20th Century movies. You'll get to see what major world events occured when the movie released, as well who the top billboard artist of that year was - all to help immerse you in what the culture must have felt like at the time.
        <br /><br />So pick a movie, read an article about the concurrent world event, take a listen to the year's top artist, and immerse yourself in a film.
        <br /><br /><br /><br /><br /><br /><br /><br />MovieGoer is built on a vast relational database using API data from the International Movie Database to provide you recommendations. This would not be possible without IMDB's great wealth of recorded knowledge.
        <br /><br />
     </h1>
</div>
