@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>MovieGoer does not store any data about its visitors. Your movie preferences are safe with us!</p>
<p>@ViewBag.Message</p>