html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    
  }
}

/*p {
    color =#FFFFFF;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color:cornsilk;
}

.table-new{

}

